.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 9.5px 20px;
  background-color: var(--color-theme);

  font-size: 14px;
  font-weight: 500;
  line-height: 21px;

  color: var(--color-text-button);
  border-radius: var(--border-radius-second);

  border: none;
  outline: none;

  transition: .2s ease;
}

.button:hover {
  background-color: var(--color-blue-400);
}

.button:active {
  background-color: var(--color-blue-600);
}

.small {
  padding: 5.5px 20px;
}

.full {
  width: 100%;
}

.textButton {
  padding: 0;
  background-color: transparent;
  color: var(--color-gray-500);
}

.textButton:hover {
  background-color: transparent;
  color: var(--color-blue-400)
}

.textButton:active {
  background-color: transparent;
  color: var(--color-blue-600)
}
