.button {
  border: none;
  background: transparent;
  outline: none;
}

.star {
  cursor: pointer;
  stroke: var(--color-gray-500);
  stroke-width: 1.5;

  transition: .2s ease;
}

.star:hover {
  stroke: var(--color-blue-500);
}

.active {
  stroke: var(--color-theme);
  fill: var(--color-theme);
}