.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding: 8px 12px;

  border-radius: var(--border-radius-second);
  border: 1px solid var(--color-border);

  background-color: var(--bg-color-item);

  position: relative;
}

.input {
  padding-left: 20px;
  border: 0;
  outline: none;
  background-color: transparent;

  flex-grow: 2;
}

.input::placeholder {
  color: var(--color-gray);
}

.icon {
  position: absolute;
  top: 18px;
  left: 12px;
}

@media (max-width: 576px) {
  .button {
    padding: 5.5px 5px;
  }
}
