.nav {
  flex-grow: 1;

  display: flex;
  align-items: center;
}

.links {
  display: flex;
  gap: 60px;
}

.link {
  text-decoration: none;
  transition: .2s ease;

  line-height: 20px;
  font-weight: 500;
}

.link:hover {
  color: var(--color-theme);
}

.link:active,
.link:visited {
  color: var(--color-text-main);
}

.link.active {
  color: var(--color-theme);
}

@media (max-width: 768px) {
  .nav {
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .nav {
    flex-direction: column;
    gap: 20px;
  }
}