.card {
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 12.5px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  margin-right: auto;
}

.starButton {
  width: 22px;
  height: 20px;
}

.title a {
  color: var(--color-theme);

  text-decoration: none;
}

.description {
  display: flex;
  align-items: center;
  gap: 12px;
}

.salary {
  font-weight: 600;
}

.dot {
  display: inline-block;

  width: 5px;
  height: 5px;
  border-radius: 50%;

  background-color: var(--color-gray-500);
}

.location {
  display: flex;
  align-items: center;
  gap: 12px;
}

.city {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 567px) {
  .description {
    align-items: flex-start;
    flex-direction: column;
  }

  .dot {
    display: none;
  }

  .header {
    flex-direction: column;
  }

  .title {
    order: 2;
  }

  .starButton {
    align-self: flex-end;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .description {
    align-items: flex-start;
    flex-direction: column;
  }

  .dot {
    display: none;
  }
}
